.block-about-us {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  gap: 40px;
}

.about-us-description {
  display: flex;
  flex-direction: column;
}

.block-about-us-entry {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 3px solid $black;
}

.about-us-entry {
  font-size: 2.5rem;
  align-self: self-end;
}

.icon-rs {
  width: 120px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.wonderland-description {
  font-size: 1.7rem;
  line-height: 120%;
  padding-bottom: 10px;
}

.bold-descriptin {
  font-weight: bold;
}

.main-description {
  font-size: 1.5rem;
  line-height: 120%;
  padding-bottom: 10px;
}

.about-us-card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 40px;
}

.card {
  display: flex;
  gap: 20px;
  box-shadow: 0 6px 8px 0 rgba(34 60 80 / 20%);
}

.block-card-img {
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.block-info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.info-name {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.card-roles {
  font-size: 1.9rem;
  margin-bottom: 40px;
}

.description-card {
  font-size: 1.5rem;
  line-height: 120%;
  margin-bottom: 10px;
}

.card-git-link,
.card-cv-link {
  align-self: end;
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-links {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 5px;
  padding-right: 10px;
}

.card-git-link {
  border-bottom: 2px $black solid;
  color: $black;

  &:hover {
    background-color: black;
    color: $white;
  }
}

.card-cv-link {
  color: #cc39ad;
  border-bottom: 2px solid #cc39ad;

  &:hover {
    background-color: #cc39ad;
    color: $white;
  }
}

@media (width <= 900px) {
  .about-us-card {
    flex-wrap: wrap;
    gap: 30px;
  }

  .info-name,
  .card-roles {
    font-size: 1.6rem;
  }

  .description-card,
  .card-git-link,
  .card-cv-link {
    font-size: 1.3rem;
  }
}

@media (width <= 769px) {
  .block-about-us {
    padding: 60px;
  }

  .about-us-entry {
    font-size: 1.8rem;
  }

  .block-about-us-entry {
    flex-wrap: wrap-reverse;
  }

  .main-description {
    align-self: center;
    font-size: 1.2rem;
  }

  .icon-rs {
    width: 80px;
  }

  .wonderland-description {
    font-size: 1.5rem;
  }

  .card {
    display: block;
  }

  .block-info {
    padding: 5px;
  }

  .card-links {
    position: relative;
    padding: 0;
  }

  .about-us-card {
    flex-wrap: wrap;
    gap: 30px;
  }

  .info-name,
  .card-roles {
    font-size: 1.2rem;
    margin: 0;
  }

  .card-roles,
  .description-card {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}
