.block-about-us {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px;
}

.about-us {
  display: flex;
  gap: 4%;
  margin: 0 auto;
}

.card {
  box-shadow: 0 6px 8px 0 rgba(34 60 80 / 20%);
}

.block-card-img {
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.block-info {
  padding: 10px 5px 5px;
}

.info-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.card-roles {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.description-card {
  margin-bottom: 10px;
}

.card-git-link,
.card-cv-link {
  align-self: end;
  font-weight: 700;
  padding-bottom: 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-links {
  display: flex;
  justify-content: space-between;
}

.card-git-link {
  border-bottom: 2px $black solid;
  color: $black;

  &:hover {
    background-color: black;
    color: $white;
  }
}

.card-cv-link {
  color: #cc39ad;
  border-bottom: 2px #cc39ad solid;

  &:hover {
    background-color: #cc39ad;
    color: $white;
  }
}

@media (width <= 769px) {
  .block-about-us {
    padding: 55px;
  }

  .about-us {
    flex-wrap: wrap;
    gap: 30px;
  }
}
