.cart {
  width: 85%;
  margin: 0 auto;
  border: 1px solid $black;
}

.cart-title {
  margin: 0.2em;
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
}

.cart-container {
  width: 100%;
  margin-top: 0.2em;
  display: flex;
  justify-content: space-between;
}

.no-items-wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.no-items-message {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.no-items-link {
  margin: 0.3em;
  font-size: 24px;
  color: $black;
  border-bottom: 2px solid $peach;
}

.cart-items {
  width: 70%;
  border: 1px solid $light-grey;
}

.checkout {
  width: 25%;
  height: 10em;
  margin-right: 2%;
  padding: 2%;
  font-size: 18px;
  border: 1px solid $light-grey;
}

.checkout-title {
  font-size: 24px;
  margin-top: 1%;
  font-weight: 700;
  line-height: 120%;
  align-self: start;
}

.checkout-total-price {
  font-size: 22px;
  font-weight: 500;
  margin: 0.4em auto;
}

.checkout-items-amount {
  margin: 0.4em auto;
}

.item-name,
.items-amount,
.item-price {
  margin: 0.2em auto;
}

.delete-item {
  width: 8%;
  height: 20%;
  margin: -0.6em;
  background-color: $white;
  display: flex;
}

.delete-item-icon {
  width: 100%;
}

.total-price,
.item-total {
  font-size: 18px;
  font-weight: 500;
  margin: 0.2em auto;
}

.item {
  margin: 0 auto;
  padding: 2%;
  display: flex;
  border: 1px solid $grey;
}

.item-image-wrapper {
  width: 25%;
  margin-right: 1%;
}

.item-content {
  width: 35%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.items-amount-wrapper {
  margin-left: -1em;
  display: flex;
  justify-content: space-around;
}

.items-amount {
  width: 30%;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
}

.edit-item-quantity {
  width: 65%;
  display: flex;
  align-items: center;
}

.remove-item-button {
  width: 25%;
  background-color: $white;
}

.add-item-button {
  width: 25%;
  background-color: $white;
}

img.remove-item {
  width: 53%;
}

img.add-item {
  width: 45%;
}

.remove-item:hover,
.add-item:hover {
  cursor: pointer;
}

.item-image {
  width: 70%;
}

@media (width <= 1000px) {
  .cart-container {
    flex-flow: wrap;
    flex-direction: column;
  }

  .cart-items {
    width: 100%;
  }

  .item-content {
    font-size: 16px;
  }

  .delete-item {
    width: 10%;
  }

  .checkout {
    width: 100%;
    font-size: 16px;
  }
}
