$white: #fff;
$black: #121212;
$light-grey: #ccc;
$grey: #808080;
$hover-color: #777;
$peach: #da7260;
$pink: #ca489a;

@import 'fonts';
@import 'null';
@import 'general';
@import 'header';
@import 'footer';
@import 'main-page';
@import 'registration-form';
@import 'login-form';
@import 'validation-registration-form';
@import '404-page';
@import 'catalog-main';
@import 'catalog-aside';
@import 'product';
@import 'slider';
@import 'user-page';
@import 'about-us';
@import 'cart-page';
