$white: #fff;
$black: #121212;
$light-grey: #ccc;
$grey: #808080;
$hover-color: #777;

@import 'fonts';
@import 'null';
@import 'general';
@import 'header';
@import 'registration-form';
@import 'login-form';
@import 'validation-registration-form';
@import '404-page';
@import 'catalog';
@import 'user-page';
